<footer role="contentinfo" class="sitefooter">
    <ul class="footerwidgetgrid">
        <li>
            <section class="widget widget--footer text-3 widget_text"><h3 class="widget__title">Szigetszentmiklós</h3>
                <div class="textwidget"><p><strong>2310 Szigetszentmiklós,<br>Leshegy Ipari Park 13.</strong><br>
                <strong>Telefon: <a href="tel:+36 24 50 22 50">+36 24 50 22 50</a></strong><br>
                <strong>Fax:&nbsp;<a href="tel:+36 1 358 14 44">+36 24 50 22 33</a></strong><br>
                <strong>E-mail:&nbsp;<a href="mailto:budapest@viarent.hu">info@viarent.hu</a></strong></p>
                </div>
            </section>
        </li>
        <li>
            <section class="widget widget--footer text-2 widget_text"><h3 class="widget__title">Budapest</h3>
                <div class="textwidget"><p><strong>1097 Budapest, Táblás utca 38.</strong><br>
            <strong>Telefon: <a href="tel:+36 1 358 14 44">+36 1 358 14 44</a></strong><br>
            <strong>Fax:&nbsp;<a href="tel:+36 1 358 14 44">+36 24 50 22 33</a></strong><br>
            <strong>E-mail:&nbsp;<a href="mailto:budapest@viarent.hu">info@viarent.hu</a></strong></p>
            </div>
            </section>
        </li>
        <li>
            <section class="widget widget--footer text-4 widget_text"><h3 class="widget__title">Szenc / Senec</h3>
                <div class="textwidget"><p><strong>Poľná 17, 903 01 Senec, Szlovákia</strong><br>
            <strong>Telefon: <a href="tel:+421 2 381 1 3673">+421 2 381 1 3673</a></strong><br>
            <strong>E-mail:&nbsp;<a href="mailto:budapest@viarent.hu">info@viarent.hu</a></strong></p>
            </div>
            </section>
        </li>
        <li>
            <section class="widget widget--footer text-5 widget_text"><h3 class="widget__title">Belgrád / Beograd</h3>
                <div class="textwidget"><p><strong>Sretenjska 4, 11272, Dobanovci,<br>Beograd, Srbija</strong><br>
            <strong>Telefon: <a href="tel:+381 62 425 888">+381 62 425 888</a></strong><br>
            <strong>E-mail: <a href="mailto:budapest@viarent.hu">info@viarent.hu</a></strong></p>
            </div>
            </section>
        </li>
        <!-- <li>
            <section class="widget widget--footer nav_menu-2 widget_nav_menu"><h3 class="widget__title">Viarent in Europe</h3>
                <ul id="menu-viarent-in-europe-1" class="menu"><li class="menu-item menu-viarent-magyarorszag-via-berauto-kft"><a href="#"><strong>VIARENT Magyarország</strong> – VIA Bérautó Kft.</a></li>
                    <li class="menu-item menu-viarent-szlovakia-delta-truck-s-r-o"><a href="#"><strong>VIARENT Szlovákia</strong> – Delta-Truck S.R.O.</a></li>
                    <li class="active menu-item menu-viarent-szerbia-sdt-renting-d-o-o"><a href="http://viars.vieeye.hu/" aria-current="page"><strong>VIARENT Szerbia</strong> – SDT Renting D.O.O.</a></li>
                </ul>
            </section>
        </li> -->
    </ul>
    <div class="sitefooter__bottom">
        <div class="sitefooter__bottom__zero">
            {{> assistancebanner }}
        </div>
        <div class="sitefooter__bottom__first">
            <p>&copy; 2020 All rights reserved. VIARENT is a trademark of Viarent Kft.</p>
            <ul class="footerminimenu">
                <li><a href="#">Adatkezelési tájékoztató</a></li>
                <li><a href="#">Jogi nyilatkozat</a></li>
                <li><a href="#">Sütik kezelése</a></li>
            </ul>
            <ul class="sociallist">
                <li><a target="_blank" href="https://www.facebook.com/viarentmagyarorszag/" class="socialbtn">{{svginsert "facebook"}}</a></li>
                <li><a target="_blank" href="https://www.instagram.com/viarent_com/" class="socialbtn">{{svginsert "instagram"}}</a></li>
            </ul>
        </div>
        <div class="sitefooter__bottom__second">
            {{svginsert "logo-mono"}}
        </div>
    </div>
</footer>