<div class="heroslider">
    <div>
        <section class="hero afullheight">
            <figure class="hero__fig">
                <img src="{{root}}assets/img/content/homehero-01.jpg" alt="">
            </figure>
            <div class="hero__content">
                <h4>Bútort vettél? Költözni készülsz?</h4>
                <h3>Ne várj a szállítókra<br>bérelj furgont!</h3>
                <ul class="niceul">
                    <li>Bérlés a dipisicing elit. Sunt, ex accusantium?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, dolorum?</li>
                    <li>Viarent orem ipsum dolor sit amet consectetur adipisicing.</li>
                </ul>
                <p><a class="button secondary" href="{{root}}araink/">Tarifatáblázat és ajánlatkérés</a></p>
            </div>
        </section>
    </div>
</div>