<div class="heroslider">
    <div>
        <section class="hero afullheight">
            <figure class="hero__fig">
                <img src="{{root}}assets/img/content/homehero-01.jpg" alt="">
            </figure>
            <div class="hero__content">
                <h4>Bútort vettél? Költözni készülsz?</h4>
                <h3>RENT-A-VAN<br>Furgon gyorsbérlés</h3>
                <p>Ne várj a szállítókra, csináld magad! A VIARENT segít!</p>
                <p><a class="button" href="#">Tudj meg többet</a></p>
            </div>
        </section>
    </div>
</div>